.card.bgg-light-orange {
    background-color: #FB990A !important;
}

.card.bgg-light-primary .card-body {
    color: #fff;
}

.card.bgg-light-success {
    background-color: #527f26 !important;
}

.card.bgg-light-success .card-body {
    color: #fff;
}

.custom-grid-layout {
    display: grid;
    grid-template-columns: 100px 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
}

.form-section {
    margin-bottom: 1.5rem;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.card {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    overflow-x: auto;
}

.custom-grid-layout label,
.custom-grid-layout select,
.custom-grid-layout input,
.custom-grid-layout button {
    width: 100%;
    max-width: 100%;
}

.custom-grid-layout .d-flex {
    flex-wrap: wrap;
    gap: 1rem;
}

@media (min-width: 768px) {
    .custom-grid-layout .d-flex {
        flex-wrap: nowrap;
    }
}

table th {
    font-weight: bold !important;
}

.small-label {
    font-weight: bold !important;
}

.container-fluid {
    padding: 20px 10px;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.form-header {
    background-color: #FB990A;
    ;
    color: white;
    padding: 3px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 0.25rem;
}

.icon {
    color: #FFFFFF;
}

.save-btn {
    background-color: #E67E22;
    color: #FFFFFF;
}

.delete-btn {
    background-color: #7F8C8D;
    color: #FFFFFF;
}

.add-section {
    background-color: #D35400;
    color: #FFFFFF;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form-group label {
    flex: 0 0 30%;
    margin-bottom: 0;
    text-align: right;
    padding-right: 10px;
}

.form-group .form-control {
    flex: 1;
}

.input-spacing {
    margin-bottom: 20px;
}

.card.h-100 {
    height: 100%;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.tab-content {
    margin-top: 30px;
}

.main-card {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}

.inner-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    background-color: #fff;
}

.flex-fill {
    flex: 1 1 100%;
}

.inner-card:hover {
    border-color: #4f8edc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    .col-md-6 {
        margin-bottom: 20px;
    }
}

.dz-message {
    text-align: center;
    font-size: 1.2em;
    color: #666;
}

.form-check-label {
    font-weight: 500;
}

.form-control {
    border-radius: 4px;
    margin-top: 5px;
}

.fa-question-circle {
    color: #007bff;
    cursor: pointer;
}

.fa-question-circle:hover {
    color: #0056b3;
}

.row>* {
    padding-left: 0 !important;
    /* Remove left padding */
}

.btn-sm {
    padding: 6px 8px !important;
    /* Adjust padding for smaller buttons */
    font-size: 12px !important;
    /* Smaller font size */
}

.btn-group {
    display: flex;
    gap: 10px;
}


table.dataTable {
    table-layout: auto;
    width: 100%;
}

td {
    white-space: nowrap;
}

.color-white {
    color: white;
}

.btn-add-field {
    background-color: #FFA500;
    /* Orange */
    color: #FFFFFF;
    /* White */
}

.btn-duplicate-section {
    background-color: #A9A9A9;
    /* Dark Gray */
    color: #FFFFFF;
    /* White */
}

.btn-delete-section {
    background-color: #C0C0C0;
    /* Light Silver */
    color: #FFFFFF;
    /* White */
}

.page-item.active .page-link {
    background-color: #E67E22 !important;
}

.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-bullet .bullet,
.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active) .menu-bullet .bullet {
    background-color: #E67E22 !important;
}